nav {
    background-color: #f0f0f0;
    padding: 1rem;
    display: flex;
    align-items: left;
  
    a {
      text-decoration: none;
      color: #333;
      padding: 0.5rem;
      border-radius: 5px;
  
      &:hover {
        background-color: #e0e0e0;
      }
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  .btn-acao {
    padding: 10px;
    font-size: 18px;
  }